.hotel-container {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.hotels-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 20px;
}

.hotel-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.hotel-card img {
  width: 100%;
  border-radius: 10px;
}
